@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

main {
    width: 27%;
}

.accordeon {
    width: 100%;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
}

.accordeon-title {
    position: relative;
    background-color: rgb(235, 159, 46);
    display: flex;
}

.accordeon-input {
    display: none;
}

.accordeon-label {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

.label-icon {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    width: 5%;
    height: 80%;
    background-image: url('./assets/icons8-close.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.4s;
}

.accordeon-title:hover {
    background-color: rgb(219, 146, 36);
}

.accordeon-content {
    background: #ffffff;
}

.mem-image {
    background-repeat: no-repeat; 
    max-width: 100%;
    background-size: contain;
    margin: 0 5%;
}

.mem-image1 {
    background-image: url('./assets/1.jpg');
}
.mem-image2 {
    background-image: url('./assets/student1.png');
}
.mem-image3 {
    background-image: url('./assets/4wmp5smh0ld41.png');
}
.mem-image4 {
    background-image: url('./assets/7dcfgs.png');
}

input:checked + label > .mem-image {
    height: 23vw;
    transform: scale(1);
}

.accordeon-input:checked~.accordeon-label::after {
    transform: translateY(-50%) rotate(0.5turn);
}